.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding-top: 96px;
  background-color: white;
}

.navigation {
  height: 100%;
}

.navigation_header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-left: 10px;
}

.navigation-items {
  font-size: 18px;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  list-style-type: circle;
}

.navigation-items_header {
  display: flex;
  gap: 34px;
}

.no-marker {
  list-style-type: none;
}

.active-link {
  text-decoration: none;
}

.header__logo {
  width: 138px;
  height: 105px;
}

.address {
  align-items: center;
  font-size: 18px;
  font-style: normal;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.address-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
  width: 100%;
  height: 100%;
}

.address_header {
  justify-self: end;
  width: 50%;
  height: 100%;
  margin-top: 3px;
  margin-right: 49px;
}

.address__item {
  display: flex;
  line-height: 24px;
}

.main {
  display: flex;
  flex-direction: column;
}

.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  margin-top: 92px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}

.cover__title {
  margin: 164px 50px 0 50px;
  color: white;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.aligned-text {
  display: flex;
  gap: 30px;
}

.aligned-text-center {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 94%;
  line-height: 137px;
}

.aligned-text-right {
  display: flex;
  justify-content: end;
  gap: 30px;
  line-height: 102px;
}

.cover__description {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 50px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
}

.cover__description-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  font-size: 22px;
  word-spacing: 1.17rem;
}

.bet-button {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 51px;
  margin-left: 25px;
  border: 1px white solid;
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  margin-top: 179px;
}

.lots__header {
  margin-left: 64px;
  font-size: 40px;
  text-transform: uppercase;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 27px 24px;
}

.card-list-item {
  display: flex;
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: flex;
  flex-grow: 1;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: white;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card-content {
  padding: 51px 40px 48px;
}

.card__header {
  font-weight: bold;
  font-size: 22px;
  text-decoration: 1px underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  display: flex;
  font-size: 20px;
}

.lots__footer {
  display: block;
  margin-top: 3px;
  margin-left: 64px;
  font-size: 20px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  justify-items: center;
  align-items: start;
  margin: 148px 24px;
}

.about-logo {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background: black;
}

.about-logo__image {
  width: 62%;
}

.about__column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: black;
}

.about__title {
  display: flex;
  margin-top: 136px;
  margin-left: 25px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 100px;
  margin-left: 25px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 31px;
  margin-bottom: 100px;
}

.address_footer {
  width: 60%;
  height: 100%;
  margin-left: 50px;
}

.navigation-items_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-left: 25px;
}

.social-list__icon {
  display: flex;
  width: 48px;
}
